* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
    color: white;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #098dff;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem;
}

main {
    display: grid;
    grid-template-rows: auto auto auto 7rem;
}


header {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: 3rem;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

header p {
    grid-area: 1 / 1 / 2 / 2;
    color: black;
    font-size: 1.1rem;
    letter-spacing: 0.5rem;
}

header .section-links {
    grid-area: 2 / 1 / 3 / 3;
    width: 100%;
    position: relative;
    height: 0;
    justify-self: center;
    transition: all 400ms ease-in;
    overflow: hidden;
}

header #toggle-butt {
    display: none;
}

header #toggle-butt:checked~.section-links {
    height: 10rem;
}

ul {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
    grid-template-rows: 36%;
}

ul li {
    list-style-type: none;
    justify-self: center;
    display: inline-block;
    width: 100%;
    text-align: center;
}

ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

header .section-links ul {
    justify-self: end;
}

header .section-links ul li a {
    padding: 1rem;
    color: #03567b;
    font-size: 1rem;
}

header .bread-crumbs {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 1rem;
    height: 4rem;
    padding: 1rem 0;
    cursor: pointer;
    width: 3rem;
    justify-self: end;
}

.bread-crumb {
    display: inline-block;
    width: 95%;
    margin: 0.25rem;
    height: 0.19rem;
    background-color: #0088ff;
    border-radius: 3rem;
}

.screen-home-page {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.screen-home-page video {
    width: 95%;
    height: auto;
}

.video-overlay {
    background-color: rgb(0 0 0 / 57%);
    color: white;
    opacity: 1;
    width: 95%;
    height: 100%;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.video-overlay section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 10rem;
    position: relative;
    z-index: 9;
}

.video-overlay p {
    width: 100%;
    font-size: 1.2rem;
}

.video-overlay a {
    display: inline-block;
    font-size: 1rem;
    color: white;
    border-radius: 4rem;
    width: 9rem;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 0px 5px 7px grey;
    border: 0px solid white;
    text-decoration: none;
    background: linear-gradient(to bottom right, #0ab3ff, #013d58);
    background-size: 200% 200%;
    animation: 3s ease infinite Animation;
    transition: all 190ms 40ms ease-in;
}

.video-overlay a:hover {
    width: 15rem;
}

/* 
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
} */

.grid-main-content {
    display: grid;
    position: relative;
    grid-template-columns: 100%;
    grid-template-rows: 40rem 25rem 45rem 10rem 23rem 60rem 5rem;
    justify-items: center;
    align-items: center;
    color: white;
    background: linear-gradient(to bottom, #0b8dfe, #51aeff66);
    margin: 11.5rem 0;
}

.grid-main-content section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    height: 40%;
    width: 90%;
}

.grid-main-content section img {
    display: none;
    width: 20%;
    height: auto;
}

.grid-main-content section article .numbers {
    font-size: 2.5rem;
    font-weight: bolder;
}

.grid-main-content .question a {
    text-align: center;
    font-weight: bolder;
    width: 80%;
}

.grid-main-content .question a:hover {
    color: goldenrod;
}

#donate-sign {
    align-self: start;
}

#donate-sign .or-section {
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#donate-sign .donate-section,
#donate-sign .share-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    flex-wrap: wrap;
    color: white;
    border: 4px solid goldenrod;
    border-radius: 16px;
    background: linear-gradient(to bottom, #00ae00ed, #8bc34aa6);
    box-shadow: -2px 8px 14px grey;
    transition: all 80ms 10ms ease-in;
}


@-webkit-keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    
    50% {
        background-position: 91% 100%
    }
    
    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    
    50% {
        background-position: 91% 100%
    }
    
    100% {
        background-position: 10% 0%
    }
}

@keyframes Animation {
    0% {
        background-position: 10% 0%
    }
    
    50% {
        background-position: 91% 100%
    }
    
    100% {
        background-position: 10% 0%
    }
}

#donate-sign ul li img {
    display: none;
    width: 4.3rem;
    height: auto;
}

#donate-sign .share-sign ul li a,
#donate-sign .donate-section ul li a {
    width: 70%;
    color: white;
    text-decoration: underline;
}

#donate-sign .share-sign ul li a:hover,
#donate-sign .donate-section ul li a:hover {
    color: goldenrod;
}

#donate-sign .share-sign ul li a:focus,
#donate-sign .donate-section ul li a:focus {
    color: rgb(255, 206, 82);
}

#donate-sign .share-sign ul li a:active,
#donate-sign .donate-section ul li a:active {
    color: rgb(160, 116, 4);
}

#donate-sign .share-sign p,
#donate-sign .donate-section p {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
}

#donate-sign .or-section hr {
    display: inline-block;
    margin: 0rem 0.4rem;
    height: 0.05rem;
    background-color: rgba(137, 137, 137, 0.728);
    width: 30%;
}

.grid-main-content svg {
    display: block;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: darkslategrey;
}

footer p {
    display: inline-block;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 42rem) {
    .grid-main-content section {
        height: 100%;
    }
    
    #donate-sign {
        align-self: center;
    }
    .grid-main-content {
        grid-template-rows: 40rem 25rem 45rem 10rem 23rem 33rem 11rem;
    }

    header .section-links {
        display: inline-block;
    }

    header .bread-crumbs {
        display: none;
    }

    #donate-sign .donate-section:hover,
    #donate-sign .share-sign:hover {
        width: 50%;
    }

    #donate-sign ul li img {
        display: inline-block;
    }

    #donate-sign .donate-section,
    #donate-sign .share-sign {
        width: 45%;
        overflow: hidden;
    }

    #donate-sign .or-section {
        width: 20%;
    }

    #donate-sign .share-sign ul li,
    #donate-sign .donate-section ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #donate-sign .donate-section ul li {
        width: 65%;
    }

    #donate-sign .share-sign ul li a,
    #donate-sign .donate-section ul li a {
        justify-self: start;
    }

    .grid-main-content .section-million,
    .grid-main-content section {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .grid-main-content .question {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center
    }

    .grid-main-content .question p {
        text-align: center;
        display: inline-block;
        width: 100%;
    }

    .grid-main-content section:nth-child(2) {
        justify-content: right;
    }

    .grid-main-content section>article {
        padding: 0rem 16rem 0rem 1rem;
    }

    .grid-main-content section:nth-child(2) article {
        padding: 0rem 0rem 0rem 16rem;
    }

    .grid-main-content section>img {
        display: block;
        box-shadow: -10px 9px 3px #bb5a5a;
    }

}

@media screen and (min-width: 64rem) {
    .video-overlay p {
        font-size: 2rem;
    }

    .video-overlay a {
        width: 14rem;
    }

    .grid-main-content {
        grid-template-rows: 25rem 45rem 10rem 23rem 29rem 12rem;
    }

    .grid-main-content section article {
        padding: 0rem 16rem 0rem 1rem;
    }

    .grid-main-content section:nth-child(2) article {
        padding: 0rem 0rem 0rem 25rem;
    }
}

@media screen and (min-width: 75rem) {
    .grid-main-content {
        grid-template-rows: 35rem 45rem 10rem 23rem 27rem 18rem;
    }

    #donate-sign .or-section {
        width: 10%;
        margin: 0rem 3rem;
    }

    .grid-main-content section>article {
        padding: 0rem 40rem 0rem 1rem;
    }

    .grid-main-content section:nth-child(2) article {
        padding: 0rem 0rem 0rem 50rem;
    }

}