* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

main {
    display: grid;
}


header {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

header p {
    grid-area: 1 / 1 / 2 / 2;
}

header ul {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 5rem 5rem 8rem;
    grid-template-rows: 2.6rem;
    justify-self: end;
}

header ul li {
    list-style-type: none;
    justify-self: center;
    display: inline-block;
    width: 100%;
    text-align: center;
}

header ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 1rem;
}

.screen-home-page {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 100%;
    height: auto;
}

.screen-home-page video {
    width: 95%;
}

.screen-home-page:after {
    position: absolute;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    width: 95%;
    height: 100%;
}